{% extends '/base/layout.html.twig' %}
{% block content %}


    <style>
        body {
            background-image: url("{{ app.serverRoot }}img/background.jpg");
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
        .fillspace {
            margin-top: 50px;
        }
        .panel-heading:hover {
            cursor:pointer;
        }
        #backBtn {
            display: inline-block;
            background-color: rgba(252,252,252,0.6);
            font-size: 1em;
            padding: 10px 40px;
            border: 2px solid white;
            color: #333;
            text-decoration: none;
            margin: 0px 10px 10px 0;
            transition: all .6s;
            text-align: center;
            border-radius: 4px;
            font-weight: 800;
        }
        #backBtn:hover {
            background: #C0392B;
            color: #fff;
            z-index: 999;
        }
    </style>

    <div class="container">

        <div class="row fillspace"></div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="well">
                    <h1>API-Documentation</h1>
                    <p><strong><i>URL</i></strong> = http://zombie.menkar.uberspace.de</p>
                    <p><strong><i>Demos</i></strong> open in new tab</p>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                            <h4 class="panel-title"><strong>Get player</strong></h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p><strong>Request reads out the current player as json encoded String</strong></p>
                                <p class="alert-danger"><strong>Requires an active player</strong><i> (see "create new player")</i></p>
                                <p><pre>URL/api/get/player</pre></p>
                                <a href="{{ app.urlRoot }}api/get/player" target="_blank" class="btn btn-info pull-right">Demo</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseAllPlayers">
                            <h4 class="panel-title"><strong>Get all players</strong></h4>
                        </div>
                        <div id="collapseAllPlayers" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p><strong>Request reads out the current players as json encoded String</strong></p>
                                <p class="alert-danger"><strong>Requires at least one active player</strong><i> (see "create new player")</i></p>
                                <p><pre>URL/api/get/players</pre></p>
                                <a href="{{ app.urlRoot }}api/get/players" target="_blank" class="btn btn-info pull-right">Demo</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                            <h4 class="panel-title"><strong>Create new player</strong></h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p><strong>Request creates a new player instance and stores it into the database</strong></p>
                                <p>The players' id will be stored into the $_SESSION['player']</p>
                                <ol>
                                    <li>LATITUDE: current latitude</li>
                                    <li>LONGITUDE: current longitude</li>
                                    <li>NAME: players' name</li>
                                </ol>
                                <p><pre>URL/api/create/player?lat=LATITUDE&long=LONGITUDE&name=NAME</pre></p>
                                <a href="{{ app.urlRoot }}api/create/player?lat=53.499647&long=10.002258&name=Max" target="_blank" class="btn btn-info pull-right">Demo</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                            <h4 class="panel-title"><strong>Delete player</strong></h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p><strong>Request deletes the current player and destroys the session</strong></p>
                                <p class="alert-danger"><strong>Requires an active player</strong><i> (see "create new player")</i></p>
                                <p><pre>URL/api/delete/player</pre></p>
                                <a href="{{ app.urlRoot }}api/delete/player" target="_blank" class="btn btn-info pull-right">Demo</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#deleteAllZombies">
                            <h4 class="panel-title"><strong>Delete all zombies</strong></h4>
                        </div>
                        <div id="deleteAllZombies" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p><strong>Request deletes all zombies</strong></p>
                                <p><pre>URL/api/delete/zombies</pre></p>
                                <a href="{{ app.urlRoot }}api/delete/zombies" target="_blank" class="btn btn-info pull-right">Demo</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#deleteAll">
                            <h4 class="panel-title"><strong>Delete all zombies and all players</strong></h4>
                        </div>
                        <div id="deleteAll" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p><strong>Request deletes all zombies and all players including their inventory</strong></p>
                                <p><pre>URL/api/delete/all</pre></p>
                                <a href="{{ app.urlRoot }}api/delete/all" target="_blank" class="btn btn-info pull-right">Demo</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#updatePlayersPosition">
                            <h4 class="panel-title"><strong>Update Players' position</strong></h4>
                        </div>
                        <div id="updatePlayersPosition" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p><strong>Request updates the active player whose id is stored inside the $_SESSION['player']</strong></p>
                                <p class="alert-danger"><strong>Requires an active player</strong><i> (see "create new player")</i></p>
                                <ol>
                                    <li>LATITUDE: current latitude</li>
                                    <li>LONGITUDE: current longitude</li>
                                </ol>
                                <p><pre>URL/api/update/player/position?lat=LATITUDE&long=LONGITUDE</pre></p>
                                <a href="{{ app.urlRoot }}api/update/player/position?lat=53.550717&long=9.993041" target="_blank" class="btn btn-info pull-right">Demo</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                            <h4 class="panel-title"><strong>Start game</strong></h4>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p><strong>Request starts a new game.</strong>
                                <p class="alert-danger"><strong>Requires an active $_SESSION['player']</strong><i> (see "create new player")</i></p>
                                <p><pre>URL/api/game/start</pre></p>
                                <a href="{{ app.urlRoot }}api/game/start" target="_blank" class="btn btn-info pull-right">Demo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>

        <div class="row fillspace"></div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <a href="{{ app.urlRoot }}home" id="backBtn" class="btn btn-md btn-default">Back</a>
            </div>
            <div class="col-lg-2"></div>
        </div>

    </div>

    <script>

    </script>
{% endblock content %}